[Desktop Entry]
Type=Application
Name=VLC UDP Stream
Comment=Reproduce el stream configurado en fullscreen al iniciar sesion
Exec=__SCRIPT_PATH__
X-GNOME-Autostart-enabled=true
NoDisplay=false
Terminal=false
